  body {
      background-image: url("witcher2_wallpaper.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      margin: 0;
      font-family: Tahoma, sans-serif;
      /* background: linear-gradient(to bottom, #004b66, #eeb889); */
      color: gold;
      padding: 0;
    }

    .vhs-overlay {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  
  background:
    repeating-linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.04) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02) 1px,
      transparent 1px,
      transparent 3px
    );
    
  animation: flicker 0.15s infinite, distort 5s infinite alternate;
  mix-blend-mode: screen;
  opacity: 0.2;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 0.2;
  }
  20%, 22%, 55% {
    opacity: 0.05;
  }
}

@keyframes distort {
  0% {
    transform: translateY(0) scaleX(1);
  }
  100% {
    transform: translateY(-2px) scaleX(1.01);
  }
}

    .name-of-site {
      font-family: 'Monoton';
      text-shadow:
    0 0 3px #39b6ff,
    0 0 6px #39b6ff,
    0 0 10px #39b6ff;
  animation: neonPulse 2s ease-in-out infinite alternate;
    }

    @keyframes neonPulse {
  0% {
    text-shadow:
      0 0 3px #39b6ff,
      0 0 6px #39b6ff,
      0 0 10px #39b6ff;
  }
  100% {
    text-shadow:
      0 0 4px #39b6ff,
      0 0 8px #39b6ff,
      0 0 14px #39b6ff;
  }
}


    /* Style The Dropdown Button */
.dropbtn {
  background-color: #464646;
  color: #eee9d1;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  text-shadow: 2px 2px black;
  font-family: 'Press Start 2P', cursive;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1000; /* поднять максимально вверх */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #eee9d1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1000;
  font-family: 'Press Start 2P', cursive;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #363636;
}

    a {
      color: gold;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    header {
      position: relative;
      z-index: 999;
      /* background-color: #727272; */
      color: #fff;
      /* padding: 12px 20px; */
    }

    header nav {
      display: flex;
      /* gap: 12px; */
      flex-wrap: wrap;
      justify-content: center;
      opacity: 85%;
    }

    header nav a {
      color: #ffffff;
      font-size: 14px;
      padding: 6px 10px;
      border: 1px solid #666;
      background-color: #000000;
      opacity: 100%;
    }

    header nav a:hover {
      background-color: #555;
    }

    .title-section {
      text-align: center;
      padding: 20px;
      /* border-top: 1px solid #000000; */
      /* border-bottom: 1px solid #ccc; */
    }

    .title-section {
      text-align: center;
      padding: 20px 10px 0 10px;
    }
    .title-section h1 {
      margin: 0;
      font-size: 50px;
    }
    .subtitle {
      color: turquoise;
      font-family: 'Underdog', serif;
      margin-bottom: 100px;
      font-size: 18px;
    }

    .container {
      display: flex;
      gap: 20px;
      /* max-width: 1250px; */
      margin: 20px auto;
      padding: 0 20px;
      z-index: 1;
      align-items: start;
    }

    .main {
      position: relative;
      display: flex;
      flex-direction: column;
      /* flex: 3; */
      gap: 80px;
      z-index: 10;
    }

    /* .post .date {
      font-size: 12px;
      color: #666;
      margin-bottom: 20px;
    } */

    /* .metadata {
      width: 80%;
      background: #666;
      color: rgb(0, 0, 0);
      padding: 10px;
      font-size: 13px;
      font-weight: bold;
    } */
    
    /* .metadata-elm {
      border: 2px solid #000;
      padding: 15px;
    } */

    /* .dates {
      display: grid;
      grid-template-rows: repeat(6, auto);
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      background: #ccc;
      color: rgb(3, 3, 3);
      border: 1px solid #000;
    } */

    /* .dates-elm {
      padding: 12px 0px 0px 0px;
      border: 1px solid #000;
    } */

    /* .description {
      background: rgb(0, 194, 81);
      color: rgb(0, 0, 0);
      padding: 15px;
      font-weight: bold;
      border: 2px solid black;
    } */

        /* .post {
      position: relative; 
      padding-top: 20px;  
      border: 4px solid rgb(255, 208, 0);
      border-top: 25px solid #ffee00;
      background-color: #8f8f8f;
      opacity: 90%;
      z-index: 1;
    } */
     
    .post {
      /* width: 75%; */
      margin: 20px 0px 20px 475px;
      padding: 20px;
      background-color: #8f8f8f;
      position: relative;
      display: flex;
      flex-direction: column;
      border: 4px solid rgb(255, 208, 0);
      border-top: 30px solid rgb(255, 208, 0);
      opacity: 85%;
      z-index: 5;
      max-width: 700px;
      animation: pulseBorderP 4s infinite;
      pointer-events: auto;
    }

    @keyframes pulseBorderP {
  0%, 100% {
    /* opacity: 0.6; */
    box-shadow: 0 0 10px gold;
  }
  50% {
    /* opacity: 1; */
    box-shadow: 0 0 20px gold;
  }
}

    /* .rating-badge {
      position: absolute;
      top: -90px;
      left: 46%;
      width: 100px;
      height: 100px;
      background-color: #fae900;
      border: 2px solid #999;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
    } */

    .inner-circle {
      width: 70px;
      height: 70px;
      background-color: rgb(161, 161, 161);
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      color: white;
      text-shadow: 2px 2px black;
      opacity: 90%;
      font-family: 'Underdog';
    }

    .must {
      background-color: rgb(151, 4, 127);
    }

    .good {
      background-color: green;
    }

    .normal {
      background-color: yellow;
    }

    .meh {
      background-color: orange;
    }

    .shit {
      background-color: red;
    }

    /* .rating-score {
      font-size: 25px;
      font-weight: bold;
      color: #ffffff;
    } */

    /* .rating-score small {
      font-size: 10px;
      vertical-align: super;
    } */

    .rating-circle {
      position: absolute;
      top: -95px;
      left: 46%;
      width: 90px;
      height: 90px;
      background-color: rgb(255, 208, 0);
      /* border: 2px solid #999; */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 18px;
      z-index: 2;
      animation: pulseBorder 3s infinite;
    }

    .rating-circle small {
      font-size: 10px;
      vertical-align: super;
    }
    
    .eagle {
      position: absolute;
      width: 100px;
      height: auto;
      top: -65px;
      z-index: 1;
      animation: pulseBorderE 4s infinite;
      pointer-events: none;
    }

    @keyframes pulseBorderE {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

    .eagle.left {
      left: -28px;
    }
    .eagle.right {
      right: -28px;
    }

    .status {
      position: absolute;
      width: 13px;
      height: 13px;
      top: -22px;
      background-color: rgb(0, 255, 34);
      /* border: 2px solid #999; */
      border-radius: 50%;
      z-index: 2;
      border: 1px solid rgb(126, 126, 126);
    }

    .left-circle {
      left: 14px;
    }
    .right-circle {
      right: 15px;
    }

        /* .review-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 90px;
      gap: 0px;
      /* margin: 20px 0;
   } */

    .post-grid {
      display: grid;
      grid-template-columns: 2fr 3fr 1fr; /*30% 40% 30% или 2fr 3fr 1fr — гибче */
      gap: 10px;
      align-items: start;
    }

    /* .poster-img {
      width: 100%;
      height: auto;
      margin: 0px 0;
      border: 0px solid #999;
    } */

    /* .poster {
      width: 70%;
      background: #2c2c2c;
      aspect-ratio: 4 / 5;
    } */

    /* Вложенные блоки */
    .poster img {
      width: 100%;
      max-width: 227px;
      min-width: 227px;
      max-height: 321px;
      min-height: 321px;
      display: block;
      border: 2px solid gold;
      animation: pulseBorder 3s infinite;
      pointer-events: none;
    }

    .post h2 {
      font-size: 25px;
      margin-top: -15px;
      color: #ffffff;
      text-align: center;
      text-shadow: 2px 2px black;
    }

    .post h3 {
      font-size: 12px;
      text-shadow: none;
      color: #464646;
      text-align: center;
      text-shadow: 1px 1px #464646;
      font-family: 'Press Start 2P';
    }
    

    .number-post {
      position: relative;
      font-size: 12px;
      text-shadow: none;
      color: #464646;
      left: 0px;
      top: -18px;
      text-shadow: 1px 1px #464646;
      font-family: 'Monoton';
    }

    .post-title {
      font-size: 15px;
      font-family: 'Press Start 2P';
      color: #eee9d1;
    }

    .ru-name-post {
      font-size: 12px;
      text-shadow: none;
      color: #464646;
      text-align: center;
      text-shadow: 1px 1px #464646;
      font-family: 'Press Start 2P';
      margin-top: -10px;
      margin-bottom: 20px;
    }

    .meta .box,
    .dates .date-row {
      background: #444;
      padding: 10px;
      color: #eee9d1;
      margin-bottom: 5px;
      border: 2px solid gold;
    }

     .box {
      /* min-width: 227px; */
      min-height: 300px;
      max-height: 300px;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      text-shadow: 1px 1px #000000;
      font-family: 'Underdog', cursive;
      animation: pulseBorder 3s infinite;
     }

     .box span {
      font-family: 'Press Start 2P';
      font-size: 15px;
      color: rgb(243, 217, 99);
     }

    .date-row {
      text-align: center;
      font-size: 12px;
      max-height: 26px;
      min-height: 26px;
      font-family: 'Bungee', cursive;
      animation: pulseBorder 3s infinite;
      /* pointer-events: none; */
      color: #eee4b3;
    }

    .date-row strong {
      font-size: 12px;
      max-height: 26px;
      min-height: 26px;
      color: rgb(243, 217, 99);
      font-family: 'Underdog', cursive;
    }

    /* тестим рамку  */

  .preview {
  position: relative;
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  background: rgba(236, 227, 163, 0.616);
  color: #333;
  border: 2px solid gold;
  border-radius: 12px;
  animation: pulseBorder 3s infinite;
  pointer-events: auto;
  overflow: hidden;
  z-index: 1;
  font-family: 'Underdog';
}


@keyframes pulseBorder {
  0%, 100% {
    /* opacity: 0.6; */
    box-shadow: 0 0 5px gold;
  }
  50% {
    /* opacity: 1; */
    box-shadow: 0 0 10px gold;
  }
}

    .preview a {
      pointer-events: auto; 
      z-index: 10; 
      color: rgb(168, 126, 20); 
    }

    /* рамка */

    .link-to-full {
      z-index: 9;
      font-family: 'Underdog';
      font-size: 18px;
      color: goldenrod;
    }


    /* Поиск */

    .filter-widget {
    margin-top: 1rem;
    padding: 10px;
    background-color: #000000;
    padding: 20px 20px;
  }

  .filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .filter-header input {
    flex-grow: 1;
    padding: 5px;
    font-size: 14px;
  }

  .filter-toggle {
    font-size: 20px;
    margin-left: 10px;
  }

  .filter-panel {
    margin-top: 10px;
  }

  .filter-group {
    margin-bottom: 10px;
  }

  .hidden {
    display: none;
  }

  /* Конец поиска */


    .sidebar {
      display: flex;
      flex-direction: column;
      /* flex: 1; */
      gap: 10px;
      padding: 15px;
    }

    .sidebar button {
      background: black;
      color: gold;
      border: none;
      padding: 20px 30px;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Underdog';
    }

    .sidebar button:hover {
      color: rgb(255, 255, 255);
    }

    .pagination {
      text-align: center;
      margin: 40px auto 20px auto;
    }

    .pagination a {
      display: inline-block;
      padding: 6px 10px;
      background-color: #ccc;
      margin: 0 4px;
      font-size: 13px;
      text-decoration: none;
      color: #000;
      border: 1px solid #999;
    }

    .pagination a:hover {
      background-color: #bbb;
    }

    /* .floating-buttons {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    } */

    /* .floating-buttons div {
      width: 40px;
      height: 40px;
      background: red;
      border-radius: 12px;
    } */

    .floating-buttons {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none; /* чтобы клики проходили только по дочерним элементам */
      z-index: 9999;
    }

    .rocket-button,
    .faq-button {
      position: absolute;
      pointer-events: auto; /* вернуть кликабельность */
    }

    .rocket-button {
      right: 10px;
      bottom: 10px;
    }

    .faq-button {
      left: 5px;
      bottom: 5px;
    }

    footer {
      text-align: center;
      padding: 15px;
      background-color: #414141;
      border-top: 1px solid #aaa;
      margin-top: 40px;
      font-size: 13px;
      color: #ffffff;
      opacity: 80%;
      z-index: -1;
    }

    .footer {
      z-index: -1;
    }

    /* .to-top {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 70px;
      height: 70px;
      cursor: pointer;
      z-index: 9999;
    }
    
    .floating-label {
      position: fixed;
      bottom: 110px;
      right: 45px;
      color: red;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      font-size: 18px;
      animation: floatText 2s ease-in-out infinite;
    }
    @keyframes floatText {
      0%,100% { transform: translateY(0);}
      50% { transform: translateY(-8px);}
    } */